@model IEnumerable<NorthwestOrderSystem.Models.OrderHistory>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.orderStatus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.salesOrder.CompanyID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.salesOrder.OrderComments)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.salesOrder.Expedite)
        </th>
        <th>
            $@Html.DisplayNameFor(model => model.salesOrder.TotalPrice)
        </th>
        <th>
            $@Html.DisplayNameFor(model => model.salesOrder.QuotedPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.salesOrder.OrderDueDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.salesOrder.TestResults)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.orderStatus)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.salesOrder.CompanyID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.salesOrder.OrderComments)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.salesOrder.Expedite)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.salesOrder.TotalPrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.salesOrder.QuotedPrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.salesOrder.OrderDueDate)
        </td>
        <td>

            <a href=@item.salesOrder.TestResults target="_blank">Results</a>
        </td>
        <td>
            @Html.ActionLink("Details", "Details", new { orderID = item.salesOrder.OrderID })
        </td>
    </tr>
}

</table>
