<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>|NorthWest Labs|</title>
    <link href="~/Content/bootstrap-darkly.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap-darkly.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        @Html.ActionLink("NorthWest Labs", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })

        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav mr-auto">
                <li class="nav-link" data-target="#navbarColor01">@Html.ActionLink("Home", "Index", "Home")</li>
                <li class="nav-link">@Html.ActionLink("About", "About", "Home")</li>
                <li class="nav-link">@Html.ActionLink("Contact", "Contact", "Home")</li>
            </ul>
        </div>
        <div>
            <img src="~/Content/images/laboratories-northwest-nw-logo-1_l.png" class="rounded-corners2" height="60" width="300" />
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year | NorthWest Labs</p>
        </footer>
    </div>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>